<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <p>CHARACTER</p>
    </header>
    <div>
        <table>
<!--
            <tr>
                <td>{{localise "cv2e.componentType.body"}}</td>
                <td><input name="data.componant.body" type="text" value="{{data.componant.body" data-dtype="Number" /></td>
                <td>{{localise "cv2e.meanType.perception"}}</td>
                <td><input name="data.mean.perception" type="text" value="{{data.mean.perception" data-dtype="Number" /></td>
            </tr>



           <tr>
                <td>{{localise "cv2e.targetType.human"}}</td>
                <td>{{localise "cv2e.targetType.nature"}}</td>
                <td>{{localise "cv2e.targetType.artificial"}}</td>
                <td>{{localise "cv2e.targetType.supernatural"}}</td>
            </tr>
--> 
        </table>

    </div>   
    <section class="items">
        <h3>Owned Items</h3>
        <ol class="actor-items">
        {{#each actor.items as |item id|}}
            <li class="actor-item" data-item-id="{{id}}">
                <div class="item-name">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4>{{item.name}}</h4>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </section>
</form>

